Adafruit-Blinka==7.3.0
adafruit-circuitpython-bmp280==3.2.13
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-lis3dh==5.1.13
adafruit-circuitpython-typing==1.6.0
Adafruit-PlatformDetect==3.22.1
Adafruit-PureIO==1.1.9
addict==2.4.0
aiofiles==0.7.0
anyio==3.3.2
asgiref==3.4.1
asn1crypto==0.24.0
bleach==4.1.0
certifi==2018.8.24
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
colorzero==1.1
cryptography==2.6.1
cycler==0.10.0
demjson==2.2.4
docutils==0.17.1
entrypoints==0.3
evdev==1.4.0
gpiozero==1.6.2
h11==0.12.0
h5py==2.8.0
httpcore==0.13.7
httpx==0.19.0
idna==3.2
imageio==2.9.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
justpy==0.2.2
keyboard==0.13.5
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.3.2
laserbeamsize==1.7.3
MarkupSafe==2.0.1
matplotlib==3.4.3
numpy==1.21.2
olefile==0.46
packaging==21.0
PCF8591==0.0.1
picamera==1.13
Pillow==8.3.2
pkginfo==1.7.1
pycrypto==2.6.1
pyftdi==0.54.0
Pygments==2.10.0
PyGObject==3.30.4
pynput==1.7.5
pyparsing==2.4.7
pyserial==3.4
pyshine==0.0.9
python-apt==1.8.4.3
python-dateutil==2.8.2
python-xlib==0.31
pyusb==1.2.1
pyxdg==0.25
readme-renderer==30.0
requests==2.21.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rpi-ws281x==4.3.4
RPi.GPIO==0.7.0
scipy==1.7.1
SecretStorage==2.3.1
six==1.12.0
smbus2==0.4.1
sniffio==1.2.0
spidev==3.5
ssh-import-id==5.7
starlette==0.16.0
streamdeck==0.8.2
sysv-ipc==1.1.0
tqdm==4.62.3
twine==3.4.2
typing-extensions==3.10.0.2
urllib3==1.24.1
uvicorn==0.15.0
webencodings==0.5.1
websockets==10.0
zipp==3.6.0
